* {
  box-sizing: border-box;
}


h1 {
	font-size: 1.75em;
	text-align: center;
	margin-bottom: 1.5em;
}

section{

	background-color: darkgray;
	border: 1px solid black;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 20px;
	position: relative;
	}

p{

	margin-left: 10px;
	margin-right: 10px;	
	clear: both;
	font-family: Arial, Helvetica, sans-serif;
}

#chicken{
	position: relative;
	float: right;
	border-left: 1px solid black;
	border-bottom: 1px solid black;


	width: 110px;
	height: 30px;
	padding: 5px;

	margin-bottom: 15px;
	text-align: center;

	background-color: gold;
}

#beef{
	position: relative;
	float: right;
	border-left: 1px solid black;
	border-bottom: 1px solid black;


	width: 110px;
	height: 30px;
	padding: 5px;

	margin-bottom: 15px;
	text-align: center;

	background-color: darkred;
	color: white;
}

#sushi{
	position: relative;
	float: right;
	border-left: 1px solid black;
	border-bottom: 1px solid black;

	padding: 5px;
	width: 110px;
	height: 30px;

	margin-bottom: 15px;
	text-align: center;

	background-color: lightgreen;
}





.subhead{

	text-align: center;
	font-size: 1.25em;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}	



}

.row {
  width: 100%;
}

/********** Large devices only **********/
@media (min-width: 992px) {
	.col-lg-4 {
    float: left;
    width: 33.33%;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.col-med-6, .col-med-12{
		float: left;
	}
	.col-med-6{
		width: 50%;
	}
	.col-med-12 {
		width: 100%;
	}
}

@media (max-width: 767px) {
	.col-low-12 {
    float: left;
    width: 100%;
	}
}

